h1 {
  font-size: 28px;
  font-family: Arial;
  margin-bottom: 20px;
}
h3 {
  font-family: Arial;
  margin-bottom: 4px;
}
.highlight {
  text-decoration: underline;
}
.unit-details {
  border-collapse: collapse;
  margin-top: 20px;
}
.unit-details th, .unit-details td {
  border: 1px solid #cccccc;
  padding: 8px;
  text-align: left;
}